<div class="input-group mb-3">
  <label class="form-label" for="basic-url">Prix HT</label>
  <div class="input-group mb-3">
    <input
      type="number"
      class="form-control"
      id="basic-url"
      [value]="prixHT()"
      (change)="onchangeprix($event)"
    />
  </div>
  <label class="form-label" for="quantite">Quantité</label>
  <div class="input-group mb-3">
    <input
      type="number"
      class="form-control"
      id="quantite"
      [value]="quantite()"
      (change)="onchangequantite($event)"
    />
  </div>
  <label class="form-label" for="tva">TVA</label>
  <div class="input-group">
    <input
      type="number"
      class="form-control"
      id="tva"
      [value]="tva()"
      (change)="onChangeTva($event)"
    />
  </div>
</div>
